# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.example
env.py 
elembic.ini

script.py.mako 


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Uploads
uploads/

# Celery
celerybeat-schedule
celerybeat-schedule.db

# Docker
*.log

IMP Docs/
epp files/
tests/